{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Add a new phone number</h1>
        <form method="POST">
            {{phone_form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                    {{ phone_form.name.label }}
                    {{ phone_form.name(class = "form-control", placeholder = "Add a Name") }}
                </fieldset>

                <fieldset>
                    {{ phone_form.phone_number.label }}
                    {{ phone_form.phone_number(class = "form-control", placeholder = "Add a Phone Number") }}
                </fieldset>
                {{ phone_form.submit(class = "btn btn-success") }}
            </div>
        </form>
    </div>

{% endblock content %}